---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
import '../styles/global.css';
const pageTitle = "me";

const identity = {
  firstName: "nicole",
  country: "THE USA",
  occupation: "cybersecurity",
  hobbies: ["photography", "birdwatching", "horticulture", "hiking"],
};

const interests = ["fresh black cherries", "nonograms", "finding old things", "mechanical pencils"];

const happy = true;
const finished = false;
const goal = 3;

const interestColor = "aqua";
const fontWeight = "bolder";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{interestColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .interest {
      color: var(--interestColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    </style>
	</head>
	<body>
<Navigation />
    <h1>{pageTitle}</h1>
		<h2>Who am i?</h2>
    <h3>nelailen, i am!</h3>

    <h2>What is this place?</h2>

    <h3>... and why does it look so bad?</h3>
  
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the ten thousandth one I built myself!</p>
  
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
  
    <h2>Here are a few bits about me:</h2>
<ul>
  <li>My name is {identity.firstName}.</li>
  <li>I live in {identity.country} and I am engaged in {identity.occupation}.</li>
  {identity.hobbies.length >= 3 &&
    <li>My hobbies include: {identity.hobbies[0]}, {identity.hobbies[1]} and {identity.hobbies[2]}</li>
  }
</ul>
<h3>And Here are some things I enjoy:</h3>
<ul>
  {interests.map((interest) => <li class="interest">{interest}</li>)}
</ul>

{happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

  </body>
</html>