---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={frontmatter.description}>
  <section class='post-wrapper'>
    <div class='hero'>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.pubDate.toLocaleDateString()}</p>
      <p><em>{description}</em></p>
      <p>by: {frontmatter.author}</p>
    </div>

    <div class='tags'>
      {
        frontmatter.tags.map((tag: string) => (
          <p class='tag'>
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
    <article class='content'>
      <slot />
    </article>
  </section>
</BaseLayout>
<style>
  .post-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .hero {
    padding: 1rem;
  }
  a {
    text-decoration: none;
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    text-decoration: none;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 0.9rem;
    background-color: #f8fcfd;
  }
  .content {
    padding-top: 1.6rem;
    padding-inline: 1rem;
  }
</style>
